.App {
  font-family: sans-serif;
}
.rows {
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 15px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}

.radioSelector {
  width: 20%;
  padding: 0px 10px;
  float: left;
}

.error{color: red;font-size: 12px; padding: 15px 0; text-align: center;}